html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'helvetica', sans-serif;
    font-size: 14px;
}

/* ============================ *
 * Default Mixins
 * ============================ */
.page {
    width: 100%;
    height: 100%;
    background: #009688;
    display: flex;
}

.page-heading {
    margin: 0;
}

.button {
    width: 75px;
    height: 30px;
    background: white;
    border: 0px solid;
}

.button > span {
    color: #525252;
    font-size: 1.5em;
}

/* ========================== *
 * Loading Screen
 * ========================== */
.loading {
    background: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.result {
    position:absolute;
    background:#e8e8e8;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.result-heading {
    text-align:center;
}

.loading-heading {
    font-size: 5rem;
    color: white;
    font-weight: 100;
    text-align: center;
}
/* ========================== *
 * Home Page
 * ========================== */
.home {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../images/cards.jpg') no-repeat center center;
    background-size: cover;
}

.home-heading {
    color: white;
    font-size: 7em;
    font-weight: 100;
    text-align: center;
    background: rgba(0,0,0,0.8);
    padding: 10px;
}

.home-button-play {
    width: 100px;
    height: 45px;
}
/* ========================= *
 * Share Page
 * ========================= */
.share {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.share-heading {
    color: white;
    width: 90%;
    font-size: 3em;
}
.share-url {
    height: 20%;
    width: 90%;
    font-size: 2.5rem;
    margin: 10px 0;
}

/* ======================== *
 * Play Page
 * ======================== */
.play {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.play-heading {
    font-size: 4rem;
    width: 100%;
    color: white;
    padding: 50px 0;
    text-align: center;
    width: 90%;
    border-radius: 10px;
}
.cards {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.cards-card {
    height: 98%;
    background: #e0f2f1;
    width: 19%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-card.selected {
    height: 100%;
    width: 20%;
    border-color: #FF8C00;
    border-style:solid;
}
.cards-card-title {
    height: 13%;
    background: #212121;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
}

.cards-card-title .tick {
    font-size: 1rem;
    vertical-align: top;
}
.cards-card-image {
    height: 35%;
    max-width: 100%;
}

.cards-card-data-group {
    margin: 5px;
    border-bottom:1px solid #bdbdbd;
}
.cards-card-data-group .label {
    width: 30%;
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

.cards-card-data-group .data {
    width: 60%;
    display: inline-block;
}

.play-button-choose {
    display: none;
    width: 180px;
    height: 40px;
}

/* =========================== *
 * Results
 * =========================== */
.result {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-heading {
    background: rgba(0,0,0,0.9);
    color: white;
    font-size: 6rem;
    padding: 40px 20px;
}
.timer {
    font-size:3em;
    color:#FFFFFF;
}
